#no-items-section{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#no-items-section button{
    width: 10em;
    height: 2.8em;
    background-color: rgb(166, 43, 0);
    border: none;
    color: white;
}

