#third-section{
    position: relative;
    width: 100vw;
    min-height: 1138px;
    background: linear-gradient(
        rgba(0, 0, 0, 0.1), 
        rgba(0, 0, 0, .1)
    ), url("../thirdimage.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    transform: translate3d(0,0,0);;
    -webkit-transform: translate3d(0,0,0);
    overflow: hidden;
}

#third-section-box-container{
    display: flex;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
}

.third-section-box{
    width: 342px;
    height: 342px;
    margin: 0 .5em;
    border: .5em solid white;
    transform: rotateZ(45deg);
    cursor: pointer;
}

.third-section-box:hover{
    backdrop-filter: blur(1em);
}

.third-section-box:nth-child(1){
    margin-top: 15em;
}

.third-section-box:nth-child(2){
    margin-bottom: 15em;
}

.third-section-box div{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%) rotateZ(-45deg);
    text-align: center;
    color: white;
}

.third-section-box div h2{
    font-size: 3em;
    margin: 0;
    padding: 0;
}

.third-section-box div p{
    font-size: 1.25em;
}

@media screen and (max-width: 900px){
    #third-section{
        min-height: 1000px;
    }

    #third-section-box-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .third-section-box{
        width: 215px;
        height: 215px;
    }

    .third-section-box:nth-child(1){
        margin: 4em auto; 
    }
    
    .third-section-box:nth-child(2){
        margin: 4em auto;
    }
}