.checkout-options{
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
}

.checkout-options-place-order{
    display: block;
    width: 10em;
    height: 2.8em;
    background-color: rgb(166, 43, 0);
    color: white;
    border: .05em solid white;
    margin: .5em auto;
}

.checkout-options-container{
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.checkout-options-container button{
    display: block;
    margin: 0 .5em;
    width: 10em;
    height: 2.8em;
    background-color: black;
    border: none;
    color: white;
    padding: .5em 0;
    outline: none;
}