#delivery-options-section{
    position: absolute;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0%);
    width: 100%;
    background-color: white;
    margin: 0;
    padding: 0;
}

#delivery-options-section h2{
    text-align: center;
}

#delivery-options-section p{
    text-align: center;
}