.menu-item-label-section{
    position: relative;
    min-height: 35em;
    margin: 0;
    padding: 1.5em 0 4em 0;
    border-bottom: .05em solid rgb(0, 0, 0);
}

.menu-item-label-section img{
    width: 100%;
}

.menu-item-label-btn{
    position: absolute;
    bottom: 1em;
    left: 50%;
    transform: translateX(-50%);
    display: block;
    width: 10em;
    height: 2.8em;
    font-size: .9em;
    background-color: black;
    border: .05em solid black;
    color: white;
    transition: background-color .2s linear;
}

.menu-item-label-btn:hover{
    background-color: transparent;
    color: black;
    border: .05em solid black;
}

@media screen and (max-width: 1300px){
    .menu-item-label-section{
        min-height: 20em;
    }
}