#welcome-screen-section{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    z-index: 6;
    top: 0;
    background: linear-gradient(
        rgba(0, 0, 0, .6), 
        rgba(0, 0, 0, .6)
    ), url("./pizza-welcome.jpeg");
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.welcome-msg-header{
    margin: 0 auto;
    padding: 0;
    text-align: center;
    width: 90%;
    font-size: 3em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    opacity: 0;
}

#animate-header{
    animation-name: animate-msg;
    animation-duration: 6.5s;
    animation-delay: 0s;
    animation-iteration-count: 1;
    opacity: 1;
}

#welcome-enter-btn{
    position: absolute;
    bottom: 25%;
    left: 50%;
    width: 8em;
    height: 2.5em;
    transform: translate(-50%,-50%);
    font-size: 1em;
    border: .15em solid transparent;
    background-color: transparent;
    color: white;
    backdrop-filter: blur(.5em);
    animation-name: animatebtn;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

#welcome-enter-btn:hover{
    color: white;
    background-color: transparent;
    backdrop-filter: blur(.5em);
}

@media screen and (max-height: 740px){
    #welcome-enter-btn{
        bottom: 5%;
    }
}

@keyframes animatebtn {
    0% {
        font-size: 1em;
        box-shadow: 0 0 0 rgb(145, 0, 0);
    }
    50% { 
        font-size: 1.25em;
        box-shadow: 0em 0em 5em rgb(255, 17, 17);
    }
    100% {
        font-size: 1em;
        box-shadow: 0 0 0 rgb(145, 0, 0);
    }
}

@keyframes animate-msg {
    0%{
       opacity: 0;
    }
    100%{
        opacity: 1;
    }
}