#menu-header-section{
    position: fixed;
    z-index: 1;
    top: 3.33em;
    width: 100%;
    height: 2em;
    box-shadow: 0 0 0.8125rem 0 rgb(0 0 0 / 75%);
    background-color: white;
}

#menu-header-list{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.menu-header-list-item{
    margin: 0 1.5em;
    padding: 0;
    list-style: none;
    align-self: center;
    font-size: .8em;
}

.active-menu-item{
    position: relative;
    width: 100%;
    height: 100%;
    border-bottom: .15em solid black;
}

.menu-header-list-item *{
    margin: 0;
    padding: 0;
    text-decoration: none;
    color: black;
}

.active-list-item{
    font-size: 1.15em;
    font-weight: bold;
}