#nav-burger{
    display: none;
    outline: none;
}

@media screen and (max-width: 1300px){
    #nav-burger{
        display: block;
        position: absolute;
        top: 50%;
        right: 1em;
        margin: 0;
        transform: translateY(-50%);
        z-index: 5;
    }
}