#confirm-order-section{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0);
    width: 320px;
    background-color: white;
}

#confirm-order-section > p{
    font-size: 2em;
    text-align: center;
}

#confirm-order-options{
    display: flex;
    justify-content: center;
}

#confirm-order-options button{
    display: block;
    width: 10em;
    height: 2.8em;
    background-color: black;
    border: none;
    color: white;
    padding: .5em 0;
    outline: none;
    margin: .5em;
}