.menu-item-customizer-container{
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    width: 100vw;
    height: 100vh;
    border: 1px solid black;
    background: linear-gradient(
        rgba(0, 0, 0, 0.3), 
        rgba(0, 0, 0, .7)
      );
    overflow: auto;
}

.menu-item-customizer{
    position: relative;
    top: 3.5em;
    left: 50%;
    z-index: 2;
    transform: translate(-50%, 0);
    width: 85vw;
    padding: 2.5em 4.5em 5em 4.5em;
    min-height: 75vh;
    background-color: white;
}

.menu-item-customizer h2{
    text-align: center;
}

.menu-item-custom-btn-container{
    position: absolute;
    bottom: 2em;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
}

.menu-item-custom-btn-container button{
    display: block;
    margin: 0 1.5em;
    width: 10em;
    height: 2.8em;
    font-size: .9em;
    background-color: transparent;
    border: .05em solid black;
    color: black;
    transition: background-color .2s linear;
}

.menu-item-custom-btn-container button:hover{
    background-color: black;
    color: white;
}

@media screen and (max-width: 1300px){

    .menu-item-custom-btn-container button{
        display: block;
        margin: 0 .25em;
        width: 10em;
        height: 2.8em;
        font-size: .9em;
        background-color: transparent;
        border: .05em solid black;
        color: black;
        transition: background-color .2s linear;
    }

    .menu-item-customizer{
        position: relative;
        top: 3.5em;
        left: 50%;
        z-index: 2;
        transform: translate(-50%, 0);
        width: 100vw;
        padding: 2.5em 1.5em 5em 1.5em;
        min-height: 75vh;
        background-color: white;
    }
}   