#cart-options-section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    right: .5em;
    background-color: white;
}

#cart-options-section button{
    width: 5em;
    height: 3em;
    margin: 0;
    background-color: black;
    border: none;
    color: white;
    padding: .5em 0;
    outline: none;
}

#cart-options-section button:hover{
    background-color: white;
    color: black;
    transition: background-color 400ms ease-in-out;
}

@media screen and (max-width: 1300px){
    #cart-options-section{
        width: 6.5em;
        right: -2.15em;
        flex-direction: row;
        justify-content: space-evenly;
    }
}