#checkout-section{
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0;
    padding: 0 ;
}

#checkout-info-container{
    display: flex;
    width: 90%;
    height: 40em;
    overflow: hidden;
    margin: 0 auto;
    border: 1px solid black;
}

#checkout-section > h2{
    font-size: 2.8em;
    text-align: center;
}

.order-item-list-item{
    list-style: none;
}

@media screen and (max-width: 1300px){
    #checkout-section{
        padding: 1.5em 1.5em 5em 1.5em;
    }

    #checkout-info-container{
        flex-direction: column;
    }
}