#pickup-form{
    width: 100%;
    margin: 5em 0 0 0;
    padding: 0;
}

#pickup-fieldset{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    border: none;
}

.pickup-label{
    display: block;
    width: 18rem;
    margin: 0 auto;
}

.pickup-input{
    display: block;
    width: 18rem;
    height: 2.5em;
    margin: 0 auto 1.5em auto;
    border-top: none;
    border-right: none;
    border-bottom: .05em solid rgb(117, 117, 117);
    border-left: none;
}

.pickup-input:hover{
    border-bottom: .05em solid rgb(166, 43, 0) !important;
}

.pickup-btn{
    display: block;
    width: 18rem;
    height: 2.3em;
    margin: 0 auto .75em auto;
    background-color: rgb(166, 43, 0);
    font-size: 1em;
    border: none;
    color: white;
    transition: background-color .3s linear;
}

.pickup-btn:hover{
    background-color: rgb(139, 37, 0) !important;
}